<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Noticias</title>
    <link rel="stylesheet" href="noticias.component.css">
</head>
<body>
    <header>
        <h1>Crear Noticia</h1>
    </header>
    <br>
    <main>
        <form id="newsForm">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" placeholder="Título de la noticia" required>
            </div>
            <div class="form-group">
                <label for="image">Subir Imagen</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea id="content" name="content" rows="10" placeholder="Ingrese el contenido de la noticia" required></textarea>
            </div>
            <button type="submit">Publicar</button>
        </form>
    </main>
    <script src="noticias.js"></script>
</body>
</html>

