
<body>
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <h2>Inicia Sesion</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="inputBx">
          <input formControlName="usuario" placeholder="Nombre de Usuario"/>
          <div *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)">
            <small style="color: white;" *ngIf="usuario?.errors?.['required']">El nombre de usuario es obligatorio.</small>
            <small style="color: white;" *ngIf="usuario?.errors?.['minlength']">El nombre de usuario debe tener al menos 3 caracteres.</small>
            <small style="color: white;" *ngIf="usuario?.errors?.['maxlength']">El nombre de usuario debe tener máximo 20 caracteres.</small>
          </div>
        </div>
        <br>     
        <div class="inputBx">
          <input formControlName="contrasena" type="password" placeholder="Contraseña"/>
          <div *ngIf="contrasena?.invalid && (contrasena?.dirty || contrasena?.touched)">
            <small style="color: white;" *ngIf="contrasena?.errors?.['required']">La contraseña es obligatoria.</small>
            <small style="color: white;" *ngIf="contrasena?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</small>
            <small style="color: white;" *ngIf="contrasena?.errors?.['maxlength']">La contraseña debe tener máximo 20 caracteres.</small>
          </div>
        </div>
        <br>
        <div class="inputBx">
          <button type="submit" [disabled]="loginForm.invalid">Inicia Sesión</button>
        </div>      
        <div class="links">
          <a href="/#/register">Regístrate</a>
        </div>
      </form>      
    </div>
  </div>
</body>


