<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="register.component.css">
</head>
<body>
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <h2>Registro</h2>
      <div class="inputBx">
        <input type="text" placeholder="Nombre de Usuario">
      </div>
      <div class="inputBx">
        <input type="text" placeholder="Correo">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Contraseña">
      </div>
      <div class="inputBx">
        <input type="submit" value="Login">
      </div>
    </div>
  </div>
</body>
</html>