
<link rel="stylesheet" href="lista-noticias.component.css">
<nav class="navbar">
    <a href="/inicio" class="logo">Blog Informativo</a>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li *ngIf="role === '1'"><a routerLink="/lista">Crear Noti</a></li>
        <li><a href="">Logout</a></li>
    </ul>
</nav>
<main>
    <div style="display: flex; justify-content: end;">
        <button (click)="openCreateModal()">Crear Noticia</button>
    </div>
    
    <table id="newsTable">
        <thead>
            <tr>
                <th>Título</th>
                <th>Contenido</th>
                <th>Autor</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let noticia of noticias">
                <td>{{ noticia.titulo }}</td>
                <td>{{ noticia.contenido }}</td>
                <td>{{ noticia.nombre_autor }}</td>
                <td>{{ noticia.fecha_publicacion | date:'short' }}</td>
                <td class="actions">
                    <button class="nuevo" (click)="editNews(noticia)">Editar</button>
                    <button class="nuevo" (click)="deleteNews(noticia)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

<!-- Modal para editar noticia -->
<div class="modal" [class.show]="showEditModal">
    <div class="modal-content">
        <span class="close" (click)="closeEditModal()">&times;</span>
        <h2>Editar Noticia</h2>
        <form (ngSubmit)="onEditSubmit()">
            <div class="form-group">
                <label for="editTitle">Título</label>
                <input type="text" id="editTitle" [(ngModel)]="currentNoticia.titulo" name="editTitle" required>
            </div>
            <div class="form-group">
                <label for="editContent">Contenido</label>
                <textarea id="editContent" [(ngModel)]="currentNoticia.contenido" name="editContent" rows="10" required></textarea>
            </div>
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</div>

    
        
    <!-- Modal para crear noticia -->
    <div class="modal" [class.show]="showCreateModal">
        <div class="modal-content">
            <span class="close" (click)="closeCreateModal()">&times;</span>
            <h2>Crear Noticia</h2>
            <form (ngSubmit)="onCreateSubmit()">
                <div class="form-group">
                    <label for="createTitle">Título</label>
                    <input type="text" id="createTitle" [(ngModel)]="newNoticia.titulo" name="createTitle" required>
                </div>
                <div class="form-group">
                    <label for="createContent">Contenido</label>
                    <textarea id="createContent" [(ngModel)]="newNoticia.contenido" name="createContent" rows="10" required></textarea>
                </div>
                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>
</main>
<br>
<footer>
    <div class="footer-bottom">
      <p>&copy; 2024 Empresa. Todos los derechos reservados.</p>
      <p>Contactanos: martinezgarciajosemanuel225&#64;gmail.com</p>
      <p><a href="https://www.privacypolicies.com/live/7dc13845-9481-4cb4-819f-3d2eb937ceba">Política de privacidad</a></p>
    </div>
  </footer>
