<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>

<header>
    <h1>Noticias</h1>
</header>


<div class="news-container">
  <div *ngFor="let noticia of noticias" class="news-card">
    <h2>{{ noticia.titulo }}</h2>
    <div class="date">{{ noticia.fecha_publicacion | date:'longDate' }}</div>
    <p>{{ noticia.contenido }}</p>
    <div class="author">Escrito por {{ noticia.nombre_autor }}</div>
  </div>
</div>



</body>
</html>
